# Node modules
/node_modules

# Build output
/build

# Coverage directory
/coverage

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# React specific
/public/static/